/* epilogue-200 - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("./fonts/epilogue-v4-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/epilogue-v4-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* epilogue-regular - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/epilogue-v4-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/epilogue-v4-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* epilogue-800 - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("./fonts/epilogue-v4-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/epilogue-v4-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-color1: #394910;
  --main-color2: #928e45;
  --main-color3: #f5dc85;
  --dark-color1: #1f1f1f;
  --dark-color2: #272727;
  --light-color1: #f7f7f7;

  --small-l1: 6px;
  --small-l2: 10px;
  --small-l3: 14px;

  --med-l1: 16px;
  --med-l2: 22px;
  --med-l3: 28px;

  --large-l1: 40px;
  --large-l2: 56px;
  --large-l3: 72px;
}

body {
  background-image: url(./images/homeBackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto; /*If problem happens try: scroll.*/
}

.nav-bar {
  position: fixed;
  width: 100vw;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*padding: var(--med-l3) var(--med-l3);*/
  align-items: center;
  height: var(--large-l3);
  background-color: var(--main-color1);
}

#content {
  padding-top: var(--large-l3);
}

.nav-item {
  color: var(--light-color1);
  font-family: "Epilogue";
  font-weight: 800;
  font-size: var(--small-l3);
  cursor: pointer;
}

.nav-item:hover {
  color: var(--main-color3);
}

.home {
  margin: var(--large-l3) auto 0 auto;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.home-main-title {
  color: var(--light-color1);
  font-family: "Epilogue";
  font-weight: 800;
  font-size: var(--large-l1);
  margin-bottom: var(--med-l1);
}

.home-secundary-title {
  color: var(--main-color3);
  font-family: "Epilogue";
  font-weight: 400;
  font-size: var(--med-l1);
  margin-bottom: var(--large-l2);
}

.home-btn {
  padding: var(--small-l2) var(--small-l2);
  margin: 0 var(--med-l1);
  font-family: "Epilogue";
  font-weight: 800;
  font-size: var(--small-l3);
  text-align: center;
  border-radius: calc((var(--small-l2) * 2 + var(--small-l3) + 6px) / 2);
  outline: none;
  border: none;
  cursor: pointer;
}

#book-now {
  background-color: transparent;
  border: 2px solid var(--main-color2);
  color: var(--main-color3);
}

#view-menu {
  background-color: var(--main-color2);
  border: 2px solid var(--main-color2);
  color: var(--light-color1);
}

#book-now:hover {
  background-color: var(--main-color2);
  border: 2px solid var(--main-color2);
  color: var(--light-color1);
}

#view-menu:hover {
  background-color: transparent;
  border: 2px solid var(--main-color2);
  color: var(--main-color3);
}

.about {
  width: 80%;
  max-width: 600px;
}

.main-text-cointainer {
  margin: var(--large-l3) auto 0 auto;
  padding: var(--med-l3);
  background-color: rgba(57, 73, 16, 0.5);
  border-radius: var(--small-l2);
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.4);
}

.text-main-title {
  text-align: center;
  color: var(--light-color1);
  font-family: "Epilogue";
  font-weight: 800;
  font-size: var(--med-l3);
  margin-bottom: var(--small-l3);
}

.about-text {
  text-align: justify;
  color: var(--main-color3);
  font-family: "Epilogue";
  font-weight: 400;
  font-size: var(--med-l1);
  line-height: var(--med-l2);
}

.gallery {
  display: grid;
  column-gap: var(--med-l2);
  grid-template-columns: repeat(var(--number-columns), minmax(0, 1fr));
  align-items: start;
  width: 95%;
  max-width: 1296px;
  margin: var(--large-l3) auto var(--large-l3) auto;
}

.gallery-column {
  display: grid;
  row-gap: var(--med-l2);
  grid-template-columns: minmax(0, 1fr);
}

.gallery-image {
  width: 100%;
}

.gallery-image:hover {
  cursor: pointer;
}

.full-image {
  max-width: 800px;
  width: 80%;
  height: 70%;
  object-fit: contain;
  margin: 140px auto;
}

.ghost {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}

.exit-btn {
  position: absolute;
  right: 5%;
  top: var(--large-l3);
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width= '24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23f7f7f7' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.exit-btn:hover {
  cursor: pointer;
}

.menu {
  width: fit-content;
  max-width: 1296px;
  margin-bottom: var(--med-l3);
}

#menu-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-column {
  display: flex;
  flex-direction: column;
}

.type-cont {
  margin: var(--med-l2);
  width: 180px;
}

.type-title {
  width: 100%;
  color: var(--main-color3);
  font-family: "Epilogue";
  font-weight: 800;
  font-size: var(--med-l2);
  line-height: var(--med-l2);
  border-bottom: 2px solid var(--main-color3);
  margin-bottom: var(--small-l3);
}

.group-dishes {
  color: var(--light-color1);
  font-family: "Epilogue";
  font-weight: 400;
  font-size: var(--med-l1);
  line-height: var(--med-l2);
}

.dish-name {
  margin-bottom: var(--small-l2);
}
