/* epilogue-200 - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("./fonts/epilogue-v4-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/epilogue-v4-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* epilogue-regular - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/epilogue-v4-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/epilogue-v4-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* epilogue-800 - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("./fonts/epilogue-v4-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/epilogue-v4-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-color1: #394910;
  --main-color2: #928e45;
  --main-color3: #f5dc85;
  --dark-color1: #1f1f1f;
  --dark-color2: #272727;
  --ligh-color1: #f7f7f7;

  --small-l1: 6px;
  --small-l2: 10px;
  --small-l3: 14;

  --med-l1: 16px;
  --med-l2: 22px;
  --med-l3: 28px;

  --large-l1: 40px;
  --large-l2: 56px;
  --large-l3: 72px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--med-l3) var(--large-l3);
  background-color: var(--main-color1);
}

.nav-item {
  color: var(--ligh-color1);
  font-family: "Epilogue";
  font-weight: 800;
}

.nav-item:hover {
  color: var(--main-color3);
}
